
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.headerBlock {
  background-color: #34a5da;
  width: 100%;
  height: 10vh ;

  padding-left: 5%;

  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
  align-content: space-around;
  
}

.bodyBlock {
  background-color: #222222 ;
  height: 90vh;
  width: 100vw;

  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: space-around;

}

.objCard {
  background-color: #ebebeb;
  width: 80%;
  height: 40%;
  margin: 0 10%;
  padding: 5%;
}

.changeButtons {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
}

/* .movieItems {
  
} */